h4 {
	background-color: rgb(179, 184, 178);
}
.title {
	margin-left: 10px;
	font-size: 13px;
	font-weight: normal;
	background-color: rgb(211, 214, 210);
}
table {
	text-align: center;
}
table img {
	width: 50px;
}
table .status {
	width: 70px;
}
.t {
	background-color: rgb(243, 86, 86);
	color: rgb(243, 86, 86);
	cursor: pointer;
}
.t-h {
	background-color: rgb(128, 250, 16);
	color: rgb(128, 250, 16);
	cursor: pointer;
}
.f {
	background-color: rgb(174, 255, 100);
	color: rgb(174, 255, 100);
	cursor: pointer;
}
.f-h {
	background-color: rgb(250, 25, 25);
	color: rgb(250, 25, 25);
	cursor: pointer;
}
.warning {
	padding: 3px;
	background-color: rgb(252, 163, 0);
	font-size: 15px;
	font-weight: normal;
}