@CHARSET "UTF-8";
#hot-good-list {
	margin: auto;
	width: 50%;
}
#latest-good-list {
	margin: auto;
	width: 50%;
}
.item {
	width: 170px;
	height: 200px;
	margin: 10px;
	float: left;
	overflow: hidden;
	text-align: center;
}
.item img {
	width: 150px;
	height: 150px;
}
.item a {
	text-decoration: none;
	color: rgb(45, 149, 231);
}
.item .title {
	white-space: nowrap;
	text-overflow:ellipsis;
	text-overflow: ellipsis;
	overflow:hidden;
}
.item .price {
	color: rgb(18, 172, 43);
}