@CHARSET "UTF-8";
.summary {
	border: medium double black;
	border-style: dotted;
	width: 300px;
	padding: 6px;
	margin-top: -10px;
	margin-right: 20px;
	font-size: 20px;
}
.summary .default {
	font-size: 12px;
}
.good-list {
	width: 60%;
	border: medium double black;
	margin: auto;
	margin-top: 35px;
	padding: 15px;
}
.add-good a {
	background-color: rgb(255, 235, 157);
	text-decoration : none;
	padding: 5px;
}
.add-good a:hover {
	background-color: grey;
	color: white;
}

.func-bar {
	float: right;
}
.func-bar span {
	color: #000;
	font-size: 13px;
	margin-right: 15px;
}

.item {
	margin-top: 10px;
	margin-buttom: 110px;
	padding: 5px;
}
.item .title {
	font-size: 25px;
	font-weight: bold;
	margin-left: 15px;
}
.item .title a {
	text-decoration: none;
	color: rgb(82, 82, 82);
}
.item .title a:hover {
	background-color: rgb(145, 145, 145);
}
.item .price {
	margin-left: 15px;
	margin-bottom: 10px;
	color: #000;
	font-size: 15px;
}
.item .currency {
	font-size: 10px;
	color: #000;
	margin-left: 5px;
}
.item .pic {
	float: left;
	margin-right: 10px;
}
.item .pic img {
	width: 250px;
}
.item .desc {
	font-size: 19px;
	padding: 5px 7px 10px 7px;
	max-height: 150px;
	overflow: hidden;
}
.item .date {
	float: right;
	margin-right: 10px;
	font-size: 15px;
	color: rgb(201, 201, 201);
}

.page-info {
	text-align: center;
	margin-top: 20px;
}
.page-navi span {
	cursor: pointer;
}
.page-navi {
	text-align: center;
	margin-top: 20px;
}
.page-navi .first, .page-navi .last {
	color: rgb(190, 240, 255);
	font-weight: bold;
	font-size: 20px;
}
.page-navi .first {
	margin-right: 10px;
}
.page-navi .last {
	margin-left: 10px;
	margin-right: 10px;
}
.page-navi .counter-base, .page-navi .counter-next {
	color: #FFF;
	background-color: rgb(211, 240, 138);
	font-weight: bold;
	margin: 5px;
	padding: 2px;
}
.page-navi .counter {
	padding: 4px;
	margin: 5px;
	border: 1px solid rgb(211, 240, 138);
	padding-top: -5px;
}
.page-navi .current {
	padding: 4px;
	margin: 5px;
	cursor: auto;
	background-color: rgb(211, 240, 138);
}
.page-navi .null {
	padding: 4px;
	margin: 5px;
	background-color: rgb(231, 231, 231);
	border-width: 0;
	cursor: default;
}
.page-navi .hover {
	background-color: rgb(118, 138, 240);
}

