@CHARSET "UTF-8";
#summary {
	border: medium double black;
	border-style: dotted;
	width: 300px;
	padding: 6px;
	margin-top: -10px;
	margin-right: 20px;
	font-size: 20px;
}
#summary .default {
	font-size: 12px;
}
#edit-summary {
	padding: 6px;
	font-size: 17px;
	display: none;
}
#contact {
	font-weight: bold;
	color: rgb(46, 154, 240);
}
#edit-contact {
	display: none;
}
.good-list {
	width: 60%;
	border: medium double black;
	margin: auto;
	margin-top: 35px;
	padding: 15px;
}
#do-update-info {
	display: none;
}