body {
	margin: auto;
	width: 70%;
	background-color: #F8FAEC;
}
h1 {
	margin: 30px;
}
#buy {
	cursor: pointer;
	padding: 10px;
	background : rgb(182, 202, 255);
	color : rgb(245, 255, 182);
	float: right;
}
#buyer-amount {
	float: right;
	margin: 10px;
	margin-right: 50px;
	font-size: 20px;
}
.price {
	float: right;
	margin: 10px;
	font-size: 20px;
	font-weight: bold;
}
#desc {
	width: 60%;
	padding: 15px;
	margin-left: 30px;
	border: medium solid rgb(201, 201, 201);
}
#desc img {
	float: right;
	width: 400px;
	margin: 10px;
}
.date{
	float: right;
	margin: 20px 15px 10px 0;
	font-size: 13px;
	color: rgb(182, 180, 180);
}
